@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease-out;
}

:root {
    --main-color: #0c2340;
    --headings : #0c2340; ;
    --background-color1 :white;
    --background-color2 : rgb(166, 164, 164);
    --accent-color:#2294ed ;
    --accent-color-dark:#1d69a3;
    --padding-inline-section : 20px;
    --text-color : #b5c2ce;


    --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
    font-size: 10px;
}

.container
{
    max-width: 1180px;
    margin: auto;
    padding-inline:var(--padding-inline-section) ;
}

h1{
    font-size: 5rem;
    color: #183b56;
}

h2{
    font-size: 4rem;
    color: #183b56;
    font-weight: 500;
}

h3{
    font-size: 3rem;
    color: #183b56;
    font-weight: 500;
}
h4{
    font-size: 2.5rem;
    color: #183b56;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: black;
    line-height: 1.5;
    margin-top: 16px;
    color: #183b56;
}

 a
{
    text-decoration: none;     
     cursor: pointer;
    display: inline-block;
    color: var(--accent-color);
    position: relative;
    z-index: 1600;
} 
a:hover
{
    color: var(--accent-color-dark);
}

body {
    background-color: var(--accent-color) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;  
    text-align: center;

    
}

body::before {
    position: absolute;
    min-height: 100vh;
    content: '';
    width: 100%;
    /* background: rgba(0, 0, 0, 0.85); */
}



ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container1 {
    width: 100%;
    margin: 0 auto;
}

.menu-icons {
    display: none;
    align-items: center;
    justify-content: center;
    color: #183b56;
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    width: 100%;
    border-radius: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 1px solid rgba(255, 255, 255, 0.1);
    -moz-border-radius: 1px solid rgba(255, 255, 255, 0.1);
    -ms-border-radius: 1px solid rgba(255, 255, 255, 0.1);
    -o-border-radius: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    height: 60px;
    background: rgba(0,0,0, 0.5);
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
    background-image: url('../images/asset\ 32.png');
    
}

.logo {
    display: inline;
    font-size: 3rem;
    color: #183b56;
    margin-right: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    align-items: center;
    /* color: black; */
}

.nav-list li {
    line-height: 8rem;
    position: relative;
    /* color: black; */
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #183b56;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
    -webkit-transition: color 650ms;
    -moz-transition: color 650ms;
    -ms-transition: color 650ms;
    -o-transition: color 650ms;
    position: relative;
    width: 100%;
    align-items: center;
    
}

.nav-list a:hover {
    color: var(--accent-color);
}

.jsr {
    padding: 1.3rem;
    display: inline-block;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: background-color 650ms;
    -webkit-transition: background-color 650ms;
    -moz-transition: background-color 650ms;
    -ms-transition: background-color 650ms;
    -o-transition: background-color 650ms;
}

.jsr:hover {
    color: var(--main-color);
}

.sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid var(--main-color);
    background-color: white;
    z-index: 100;
    top: 16rem;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    opacity: 0;
    visibility: hidden;
}

.sub-menu::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom: 1.2rem solid var(--main-color);
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: var(--main-color);
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid var(--main-color);
    top: 0;
    left: 160%;
}


.nav-list li:hover>.sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover>.sub-menu {
    top: 0;
    left: 100%;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
}

@media screen  and (max-width: 900px) {
    .nav-list {
        position: fixed;
        top: 60px;
        left: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        display: none;
        overflow-y: scroll ;
        width: 100%;
    }

    .nav-list > li {
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        margin-left: 1rem;
        max-height: 0;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        margin-right: 0.4rem;
        padding-right: 1rem;
    }

    .sub-menu .sub-menu {
        border: none;
        overflow: hidden;
        margin-right: 0.4rem;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .fa-times {
        display: none;
    }

    nav.active .fa-times {
        display: block;
    }

    nav.active .fa-bars {
        display: none;
    }
    
    nav.active .nav-list {
        display: flex;
    }
}

.finalnavbar
{
    background-color: white;
}

/* contact us section */
#contactUs
{
    margin-top: 70px;
}

.heading
{
    text-align: center;
}
.divisions
{
    
}
.img-manipulate img
{
    width: 30vw;
}
.divisions
{
    text-align: center;
}
.leftform
{
    position: relative;
    z-index: 2000;
    text-align: center;
    margin-top: 30px;
    border: 2px solid var(--headings);
    border-radius: 6px;
    width: 400px;
    left: 380px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
}

form
{
    
}
input
{
    width: 300px;
    height: 50px;
    padding: 12px 15px;
    border : solid 2px var(--headings);
    border-radius: 6px;
    margin-bottom: 10px;

}

.signinbutton
{
    padding: 12px 24px;
    background-color: white;
    border: 2px solid var(--headings);
    border-radius: 6px;
    color: black;
    /* box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4); */
}

.signinbutton:hover
{
    background-color: aqua;
}






/* footer section */
footer{
    text-align: center;
    height: 65px;
    margin-top: 50px;
    background-color: white;
    background-image: url('../images/asset\ 32.png') ;
    box-shadow: 5px -10px 8px rgba(0, 0, 0, 0.4);
}
.footer-text
{
    position: relative;
    top: 15px;
   
}
